/* General styles*/

* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    background: salmon;
}

#Headerbox {
    padding-top: 3px;
    height: 50px;
    border-radius: 10px;
    background: whitesmoke;
    margin-bottom: 10px;
    text-align: center;
}

#profilebio {
    width: 60%;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    background: whitesmoke;
}

#ProfilePic {
    float: left;
    margin: 10px;
    border: 1px solid white;
}

#form {
    width: 30%;
    margin: auto;
    padding: 10px;
    border-radius: 15px 0 15px 0;
    background: whitesmoke;
}

#form textarea {
    width: 90%;
}

.btn {
    color: black;
    text-decoration: none;
    padding: 8px;
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    border-radius: 10px;
}

.btn:hover {
    background-color: salmon;
}


/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */

@media screen and (max-width: 750px) {
    #profilebio {
        width: 90%;
        margin: auto;
        padding: 10px;
    }
    #ProfilePic {
        float: left;
        margin: 10px;
    }
    #form {
        width: 90%;
        margin: auto;
        padding: 10px;
    }
    #form textarea {
        width: 90%;
    }
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #008AA5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #00A2BE;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}